In [34]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
from catboost import  CatBoostRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
data = pd.read_csv("../data/processed_cricket.csv")
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,next_over_score
0,1.0,1.0,6.0,6.0,12.00,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,12.0,11.0
1,1.0,2.0,5.0,6.0,11.50,11.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,11.0,18.0
2,1.0,3.0,10.0,8.0,13.67,0.0,18.0,0.0,0.0,0.0,0.0,0.0,23.0,18.0,8.0
3,1.0,4.0,4.0,4.0,12.25,8.0,0.0,0.0,0.0,0.0,1.0,1.0,41.0,8.0,16.0
4,1.0,5.0,6.0,10.0,13.00,0.0,0.0,16.0,0.0,0.0,0.0,1.0,49.0,16.0,6.0

In [3]:
X=data.drop("next_over_score", axis=1)
y=data["next_over_score"]

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.2, random_state=42)

In [5]:
y_train

240     12.0
812     10.0
1240     5.0
1280    12.0
1084    18.0
        ...
1130    10.0
1294    21.0
860      9.0
1459    12.0
1126    13.0
Name: next_over_score, Length: 1598, dtype: float64

In [ ]:
cat = CatBoostRegressor(iterations= 100, learning_rate= 0.1, depth= 6, l2_leaf_reg= 3, random_seed= 42, verbose= False)
cat.fit(X_train, y_train)

In [37]:
y_pred = cat.predict(X_test)
pred_y = pd.DataFrame(y_pred, columns=['predicted'])
print(pred_y)

     predicted
0    14.601109
1    13.309732
2    11.807359
3    12.778553
4    11.379610
..         ...
395  11.564330
396  11.927552
397  10.200943
398  12.472763
399  11.024902

[400 rows x 1 columns]

In [38]:
y_pred = cat.predict(X_test)  
y_test_array = y_test.values.flatten() if hasattr(y_test, "values") else y_test

comparison = pd.DataFrame({
    'Actual': y_test_array,
    'Predicted': y_pred
})

print(comparison)

     Actual  Predicted
0       8.0  14.601109
1       0.0  13.309732
2      11.0  11.807359
3      15.0  12.778553
4      13.0  11.379610
..      ...        ...
395    12.0  11.564330
396     7.0  11.927552
397    14.0  10.200943
398    11.0  12.472763
399    23.0  11.024902

[400 rows x 2 columns]

In [39]:
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print("MAE:", mae)
print("MSE:", mse)
print("RMSE:", rmse)
print("R² Score:", r2)

MAE: 4.221398453596844
MSE: 28.32750539613292
RMSE: 5.322359006693641
R² Score: -0.03452338282322276